.flex {
  display: flex;
  &.column {
    flex-direction: column;
  }
  &.align-center {
    align-items: center;
  }
  &.justify-center {
    justify-content: center;
  }
  &.align-start {
    align-items: flex-start;
  }
  &.justify-start {
    justify-content: flex-start;
    text-align: left;
  }
  &.align-end {
    align-items: flex-end;
  }
  &.justify-end {
    justify-content: flex-end;
    text-align: right;
  }
  &.align-stretch {
    align-items: stretch;
  }
  &.justify-stretch {
    justify-content: stretch;
  }
  &.align-space-between {
    align-items: space-between;
  }
  &.justify-space-between {
    justify-content: space-between;
  }
  &.gap-6 {
    gap: 6px;
  }
  &.gap-12 {
    gap: 12px;
  }
  &.gap-18 {
    gap: 18px;
  }
  &.gap-24 {
    gap: 24px;
  }
  &.gap-30 {
    gap: 30px;
  }
  &.gap-36 {
    gap: 36px;
  }
  &.fill {
    flex: 1 !important;
  }
  &.wrap {
    flex-wrap: wrap;
  }
}

.clickable {
  cursor: pointer;
  user-select: none;
}
.link-text {
  text-decoration: underline;
  color: #3d91ff;
}
.bold {
  font-weight: bold;
}

.main-title {
  font-size: 100px;
  @media only screen and (max-width: 900px) {
    font-size: 50px;
  }
}
.second-title {
  font-size: 40px;
  @media only screen and (max-width: 900px) {
    font-size: 26px;
  }
}
.third-title {
  font-size: 32px;
  @media only screen and (max-width: 900px) {
    font-size: 20px;
  }
}
@media only screen and (max-width: 900px) {
  .rwd-hide {
    display: none !important;
  }
  .rwd-show {
    display: block !important;
  }
  .rwd-show-flex {
    display: flex;
  }
}